
{% for meet in meets %}
{% if meet.status != 1 and meet.status != 2 and meet.type == 1%}
<tr id="tr_meet{{meet.id}}">
	<td>{{meet.client_name}}</td>
	<td id="meet_date{{meet.id}}"> {% if meet.date == today %} <span id="date-meet">{% else %}<span>{% endif %}{{meet.date}}</span></td>
	<td>{{meet.description}}</td>
	<td>
		{% if meet.status == 0%}
		<span class="badge badge-info" style="background-color:#939598;">В процессе</span>
		{% elif meet.status == 1%}
		<span class="badge badge-success" style="background-color:#939598;">Завершено</span>
		{% else %}
		<span class="badge badge-danger" style="background-color:#939598;">Удалено</span>
		{% endif %}
	</td>
	<td>
		<div class="icon-block-meet">
			<button type="button" data-toggle="modal" data-target="#modalEditMeet{{meet.id}}" style="padding: 10px;width: 40px;height: 40px;"><i class="fa fa-pencil-square-o"></i></button>
			<form action="{% url 'meet_delete' %}" method="POST">
				{% csrf_token %}
				<input type="hidden" value="{{meet.id}}" name="meet_id">
				<button type="button" style="padding: 10px;width: 40px;height: 40px;" onclick="delete_meet({{meet.id}})"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
			</form>
			<form action="/meet/success" method="POST">
				{% csrf_token %}
				<input type="hidden" value="{{meet.id}}" name="meet_id">
				<button type="submit" style="padding: 10px;width: 40px;height: 40px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></button>
			</form>
		</div>
	</td>
</tr>
{% endif %}
{% if meet.status != 1 and meet.status != 2 and meet.type == 2 %}
<tr style="background-color: #28A745;
	height: 170px;
	color: white;
	text-align: center;
	opacity: .6;">
		<td colspan="5">
			<div class="panel_body">
				<span class="fa fa-ellipsis-v" onclick="getWindow({{meet.id}})"></span>
				<div id="panel{{meet.id}}" class="setting">
					<a href="" onclick="getSuccess({{meet.id}})">Завершить</a>
					<a href="/meet/edit/reserve/{{meet.id}}">Редактировать</a>
					<a href="" onclick="getDelete({{meet.id}})">Удалить</a>

				</div>
			</div>
			<span style="font-size: 25px;
			padding-top: 15px;
			display: block;"> Время забронировано</span> <br>
			<span>{{meet.date}} - {{meet.date_do}}</span>
			<span style="display: block; margin-top: 15px; margin-bottom:10px;">Комментарий: {{meet.description}}</span>
		</td>
	</tr>
{% endif %}
{% endfor %}
<tr>
	<td style="padding: 15px 0 0 0;">
		<a class="btn-use" data-toggle="collapse" href="#collapseMeet" role="button" aria-expanded="false" aria-controls="collapseMeet" style="width: 150px;">
    Завершено
		</a>
	</td>
</tr>
{% for meet in meets %}
{% if meet.status != 1 %}
<!--				mobile table -->
<div id="mobile-table">
	{% if meet.status != 2 and meet.type == 1 %}
	<ol style="list-style-type: none;"{% if meet.date == today%} class="pulse-item wow backInLeft"{% endif %} class="wow backInLeft">
		<li>Наименование:   <span style="margin-left: 15px;">{{meet.client_name}}</span></li>
		<li>Дата встречи:  <span style="margin-left: 30px;">{{meet.date}}</span></li>
		<li><span>Описание:</span> <br><span>{{meet.description}}</span></li>
		<li>Статус:  <span style="margin-left: 84px;">
			{% if meet.status == 0%}
			<span class="badge badge-info" style="background-color:#939598;">В процессе</span>
			{% elif meet.status == 1%}
			<span class="badge badge-success" style="background-color:#939598;">Завершено</span>
			{% else %}
			<span class="badge badge-danger" style="background-color:#939598;">Удалено</span>
			{% endif %}
		</span></li>
		<li>Сервис:  <span>
			<div class="icon-block-meet" style="margin-left: 68px;">
				<button type="button" data-toggle="modal" data-target="#modalEditMeet{{meet.id}}" style="padding: 10px; font-size: 20px;"><i class="fa fa-pencil-square-o"></i></button>

				<form action="{% url 'meet_delete' %}" method="POST">
					{% csrf_token %}
					<input type="hidden" value="{{meet.id}}" name="id">
					<button type="submit" style="padding: 10px;width: 40px;height: 40px;"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
				</form>
				<form action="/meet/success" method="POST">
					{% csrf_token %}
					<input type="hidden" value="{{meet.id}}" name="meet_id">
					<button type="submit" style="padding: 10px;width: 40px;height: 40px;"><i class="fa fa-check-square-o" aria-hidden="true"></i></button>
				</form>
		</span></li>

	</ol>
	{% endif %}
</div>
{% if meet.status != 2 and meet.type == 2  %}
<div id="mobile-table" class="mob-type">
	<div class="panel_body">
		<span class="fa fa-ellipsis-v" onclick="getWindow({{meet.id}})"></span>
		<div id="panel{{meet.id}}" class="setting">
			<a href="" onclick="getSuccess({{meet.id}})">Завершить</a>
			<a href="/meet/edit/reserve/{{meet.id}}">Редактировать</a>
			<a href="" onclick="getDelete({{meet.id}})">Удалить</a>

		</div>
	</div>
	<h4>Время забронировано</h4>
	<span>{{meet.date}} - {{meet.date_do}}</span>
	<span style="display: block;margin-top:15px;">Комментарий: {{meet.description}}</span>
</div>
{% endif %}
<div class="modal fade" id="modalEditMeet{{meet.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Редактирование даты {{meet.client_name}}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="{% url 'meet_edit' %}" method="POST">
					<input type="datetime-local" value="{{meet.date}}" name="meet_date" id="meet_edit_date{{meet.id}}">
					<input type="hidden" name="meet_id" value="{{meet.id}}">
					<button type="button" class="btn-use" onclick="edit_status({{meet.id}})">Сохранить</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endfor %}
		<a class="btn-use" data-toggle="collapse" href="#collapseMeet" id="mobile_btn" role="button" aria-expanded="false" aria-controls="collapseMeet" style="width: 150px;">
    	Завершено
		</a>
