{% extends 'meet/base.html' %}
{% block 'content'%}
		<div class="row">
			<div class="col-md-6 col-10" id="create-page" style="display: block;margin: 0 auto;">
				<h4>Создать встречу</h4>
				<form action="{% url 'meet_create' %}" method="POST">
                    {% csrf_token %}
					<div class="form-group">
						<label for="client-name">Наименование клиента</label><br>
						<input type="text" name="client-name" id="client-name">
					</div>
					<div class="form-group">
						<label for="text">Описание встречи</label><br>
						<textarea cols="27" rows="5" name="description"></textarea>
					</div>
					<div class="form-group">
						<label for="date-meet">Дата и время</label><br>
						<input type="datetime-local" name="date-meet" id="date-meet">
					</div>
					<div id="create-btn-group">
						<button type="submit" class="btn-use">Создать</button>
						<a href="{% url 'meet_index' %}" class="btn-use">Назад</a>
					</div>
				</form>
			</div>
<!--			<div class="col-md-2 col-10 last-block-meet" id="create-page" style="height: 100%;">-->
<!--				 <h4 style="font-weight: bold;">last</h4>-->
<!--				 <div>-->
<!--				 	<ol>-->
<!--				 		<li>01.03.2021 - OOO LegalAct</li>-->
<!--				 		<li>01.03.2021 - Maks</li>-->
<!--				 		<li>01.03.2021 - Maks</li>-->
<!--				 		<li>01.03.2021 - Maks</li>-->
<!--				 	</ol>-->
<!--				 </div>-->
<!--			</div>-->
		</div>
{% endblock %}