{% extends 'meet/base.html'%}

{% block 'content' %}
<!--  -->
<div class="row">
		<div class="col-md-9 col-sm-12" id="block-story-meet">
			<h4 style="margin-bottom: 35px;">Список</h4>
			<a href="{% url 'meet_index' %}" class="btn-use" style="margin-bottom: 15px;">Назад</a>
<!--			<a href="{% url 'meet_index' %}" class="btn-use" style="margin-bottom: 15px;">Назад</a>-->
			<table class="table">
				<thead style="background: #EE1D23; color: white; padding: 5px;">
					<tr>
						<th>#</th>
						<th>Client</th>
						<th>Date</th>
						<th>Description</th>
						<th>Status</th>
						<th>Service</th>
					</tr>
				</thead>
				<tbody>
				{% for meet in meets %}
					<tr>
						<td>1</td>
						<td>{{meet.client_name}}</td>
						<td> {% if meet.date == today %} <span id="date-meet">{% else %}<span>{% endif %}{{meet.date}}</span></td>
						<td>{{meet.description}}</td>
						<td>{{meet.status}}</td>
						<td>
							<div class="icon-block-meet">
								<button type="button" data-toggle="modal" data-target="#modalEditMeet{{meet.id}}" style="padding: 10px;width: 40px;height: 40px;"><i class="fa fa-pencil-square-o"></i></button>
								<form action="{% url 'meet_delete' %}" method="POST">
									{% csrf_token %}
									<input type="hidden" value="{{meet.id}}" name="meet_id">
									<button type="submit" style="padding: 10px;width: 40px;height: 40px;"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
								</form>
							</div>
						</td>
					</tr>
<!--				mobile table -->

					<div id="mobile-table" class="col-10 col-md-9">
						<ol style="list-style-type: none;"{% if meet.date == today%} class="pulse-item wow backInLeft"{% endif %} class="wow backInLeft">
							<li>Наименование   <span style="margin-left: 15px;">{{meet.client_name}}</span></li>
							<li>Дата встречи  <span style="margin-left: 30px;">{{meet.date}}</span></li>
							<li>Описание  <span style="margin-left: 56px;">{{meet.description}}</span></li>
							<li>Статус  <span style="margin-left: 84px;">{{meet.status}}</span></li>
							<li>Сервис  <span>
								<div class="icon-block-meet" style="margin-left: 68px;">
								<button type="button" data-toggle="modal" data-target="#modalEditMeet{{meet.id}}" style="padding: 10px; font-size: 20px;"><i class="fa fa-pencil-square-o"></i></button>

								<form action="{% url 'meet_delete' %}" method="POST">
									{% csrf_token %}
									<input type="hidden" value="{{meet.id}}" name="meet_id">
									<button type="submit" style="padding: 10px;padding: 10px; font-size: 20px;"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
								</form>
							</span></li>

						</ol>
					</div>
						<div class="modal fade" id="modalEditMeet{{meet.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
							<div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h5 class="modal-title" id="exampleModalLongTitle">Редактирование даты {{meet.client_name}}</h5>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							         <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							    <div class="modal-body">
								  <form action="{% url 'meet_edit' %}" method="POST">
								  {% csrf_token %}
								  <input type="datetime-local" value="{{meet.date}}" name="meet_date">
								  <input type="hidden" name="meet_id" value="{{meet.id}}">
								  <button type="submit" class="btn-use">Сохранить</button>
								  </form>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				</tbody>
			</table>
		</div>
		<hr>
	</div>

{% endblock %}