{% load service_html %}
<div class="main-container">
    <div class="table-body">
        <ul class="nav nav-tabs">
          
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="show_table()">Свод за ---</a>
        </li>
            {% for item in categories %}
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="main_table({{item.id}}, '{{item.name}}')">{{item.name}}</a>
        </li>
            {% endfor %}
        </ul>
    </div>
    <div id="main_table">
        <table class="table1">
            <thead>
            <tr>
                <th>---</th>
                {% for item in categories %}
                <th>{{item.name}}</th>
                {% endfor %}
                <th>Всего</th>
            </tr>
            </thead>
            <tbody>
            <tr id="budjet">
                <th>Бюджет: </th>
                {% for budjet in budjets%}
                <td style=""> <p style="display">{{budjet.summa}} сум</p> <button data-toggle="modal" data-target="#modalEdit{{budjet.id}}" style="border: none; padding: 5px;" class="btn__edit"><span class="fa fa-pencil-square-o"></span></button></td>
                <form action="/account/edit-budget/{{budjet.id}}">
                <div class="modal fade" id="modalEdit{{budjet.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Изменить бюджет на {{budjet.category.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <input type="text" class="form-control" value="{{budjet.summa}}" name="summa">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn-a" data-dismiss="modal" style="margin-bottom: 50px;">Закрыть</button>
                        <button type="submit" class="btn-a" style="margin-bottom: 50px;">Сохранить</button>
                      </div>
                    </div>
                  </div>
                </div>
                </form>
                {% endfor %}
                <td>---</td>
            </tr>
            <tr>
                <th>Остаток на ---</th>
                <td>---</td>
                <td>---</td>
                <td>---</td>
                <td>---</td>
                <td>---</td>
                <td>---</td>
            </tr>
            <tr>
                <th>Приход в течении {% get_month_day month as item %} {{item}}</th>
                <td>{{corp_come_summa}} сум</td>
                <td>{{kitchen_come_summa}} сум</td>
                <td>{{hoz_come_summa}} сум</td>
                <td>{{other_come_summa}} сум</td>
                <td>{{karantin_come_summa}} сум</td>
                <td>{{total_summa}} сум</td>
            </tr>
            <tr>
                <th>Расход в течении {{item}}</th>
                <td>{{corp_summa_order_total}} сум</td>
                <td>{{kitchen_summa_order_total}} сум</td>
                <td>{{hoz_summa_order_total}} сум</td>
                <td>{{other_summa_order_total}} сум</td>
                <td>{{karantin_summa_order_total}} сум</td>
                <td>{{total_order_summa}} сум</td>
            </tr>
            <tr>
                <th>Возвраты остатков {{item}}</th>
                <td>---</td>
                <td>---</td>
                <td>---</td>
                <td>---</td>
                <td>---</td>
                <td>---</td>
            </tr>
            <tr>
                <th>Остаток на {{item}}</th>
                <td>{{corp_ost}} сум</td>
                <td>{{kitchen_ost}} сум</td>
                <td>{{hoz_ost}} сум</td>
                <td>{{other_ost}} сум</td>
                <td>{{karantin_ost}} сум</td>
                <td>{{total_ost}} сум</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="table_order" style="display:none;">
    </div>
</div>

<style>
    #budjet td p {
        display:contents;
    }

    .btn__edit:focus {
        outline: none;
    }
</style>
<script type="text/javascript">
function main_table(id, name){
	if(name == 'Корп расходы'){
		console.log(name);
	}
	date = $('#select_month').val();
	$.post("/account/order-category/"+id, {date:date, "csrfmiddlewaretoken" : "{{csrf_token}}"})
	  .done(function(data) {
	  	$('#main_table').hide();
	    $('#table_order').html(data).show();
	});
}
function show_table(){
	$('#main_table').show();
	$('#table_order').hide();
}
</script>