<h4>Расходы</h4>
<table class="table1">
    <thead>
    <tr>
        <th>---</th>
        <th>Наименование расхода</th>
        <th>Сумма</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td><a href="/account/order-podcategory/1/{{date}}">Интернет</a></td>
        <td>{{internet_orders_summa}}</td>
    </tr>
    <tr>
        <td></td>
        <td><a href="/account/order-podcategory/2/{{date}}">Телефонная связь</a></td>
        <td>{{tel_orders_summa}}</td>
    </tr>
    <tr>
        <td></td>
        <td><a href="/account/order-podcategory/3/{{date}}">Поездки на такси/личное авто</a></td>
        <td>{{travel_orders_summa}}</td>
    </tr>
    <tr>
        <td></td>
        <td><a href="/account/order-podcategory/4/{{date}}">Проездные карточки</a></td>
        <td>{{proezd_orders_summa}}</td>
    </tr>
    <tr>
        <td></td>
        <td><a href="/account/order-podcategory/5/{{date}}">Мобильная связь</a></td>
        <td>{{mob_orders_summa}}</td>
    </tr>
    <tr>
        <td></td>
        <td><a href="/account/order-podcategory/6/{{date}}">Расход по курьеру/топливо</a></td>
        <td>{{cur_orders_summa}}</td>
    </tr>
    <tr>
        <td></td>
        <td><a href="/account/order-podcategory/7/{{date}}">Печати для клиентов</a></td>
        <td>{{pech_orders_summa}}</td>
    </tr>
    <tr>
        <td></td>
        <td><a href="/account/order-podcategory/8/{{date}}">Эцп ключи для клиентов</a></td>
        <td>{{ecp_orders_summa}}</td>
    </tr>
    <tr>
        <td></td>
        <td><a href="/account/order-podcategory/9/{{date}}">Коммунальные услуги офиса</a></td>
        <td>{{com_orders_summa}}</td>
    </tr>
    </tr>
    <tr>
        <td></td>
        <td><a href="/account/order-podcategory/10/{{date}}">Почтовые расходы</a></td>
        <td>{{other_orders_summa}}</td>
    </tr>
    </tr>
    <tr>
        <td></td>
        <td><a href="/account/order-podcategory/11/{{date}}">Разовые расходы из корп средств</a></td>
        <td>{{raz_orders_summa}}</td>
    </tr>
    <tr>
        <th>Итого расход</th>
        <td>{{total_c}} сум</td>
        <td></td>
    </tr>
    </tbody>
</table>
