{% extends 'account/base.html'%}

{%block 'content' %}

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5 ">
            <input type=button value="Назад" onClick="javascript:history.go(-1);" class="btn btn-default mb-3">
            <h4>Расходы</h4>
            <table class="table1">
                <thead>
                <tr>
                    <th>Дата</th>
                    <th>Наименование расхода</th>
                    <th>Сумма</th>
                </tr>
                </thead>
                <tbody>
                {% for item in account_orders%}
                <tr style="background-color: {{item.color.color}};">
                    <td>{{item.date}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.summa}} сум</td>
                </tr>
                {% endfor %}
                <tr>
                    <th>Итого расход</th>
                    <td>{{total_order_summa}} сум</td>
                    <td></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock %}