<h4>Расходы</h4>
<table class="table1">
    <thead>
    <tr>
        <th style="width: 150px;">---</th>
        <th>Наименование расхода</th>
        <th>Сумма</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td></td>
        <td><a data-tab="link1" class="table__link" href="/account/order-podcategory/1/{{date}}">Интернет <i class="fa fa-chevron-right"></i></a>
       
        </td>
        <td id="internet_orders_summa">{{internet_orders_summa}} сум</td>
        <script>
            let internet_orders_summa = document.getElementById("internet_orders_summa");
            try {
                internet_orders_summa.innerHTML = prettify({{internet_orders_summa}}) + ' сум';
            }catch {
                alert('error');
            }
        </script>

        {% for item in internet_orders %}
            
        <tr style="padding: 0;background-color: {{item.color.color}};" class="table__tr link1" >
            <td style="padding: 0;"><div style="background-color: {{item.color.color}};">{{item.date}}</div></td>
            <td style="padding: 0;"><div style="background-color: {{item.color.color}};">{{item.description}}</div></td>
            <td style="padding: 0;"><div style="background-color: {{item.color.color}};" id="int_summa{{item.id}}">{{item.summa}} сум</div></td>
        <script>
                        let int_summa{{item.id}} = document.getElementById("int_summa{{item.id}}");

                        try {
                            int_summa{{item.id}}.innerHTML = prettify({{item.summa}}) + ' сум';
                        }catch {
                            alert('error');
                        }
        </script>
        </tr>
    
        
    {% endfor %}
    </tr>
    <tr>
        <td></td>
        <td><a data-tab="link2" class="table__link" href="/account/order-podcategory/2/{{date}}">Телефонная связь <i class="fa fa-chevron-right"></i></a></td>
        <td id="tel_orders_summa">{{tel_orders_summa}} сум</td>
        <script>
            let tel_orders_summa = document.getElementById("tel_orders_summa");
            try {
                tel_orders_summa.innerHTML = prettify({{tel_orders_summa}}) + ' сум';
            }catch {
                alert('error');
            }
        </script>
            {% for item in tel_orders %}
            <tr style="padding: 0;" class="table__tr link2" >
                <td style="padding: 0;"><div style="background-color: {{item.color.color}};">{{item.date}}</div></td>
                <td style="padding: 0;"><div style="background-color: {{item.color.color}};">{{item.description}}</div></td>
                <td style="padding: 0;"><div style="background-color: {{item.color.color}};" id="tel_order{{item.id}}">{{item.summa}} сум</div></td>
        <script>
                        let tel_order{{item.id}} = document.getElementById("tel_order{{item.id}}");

                        try {
                            tel_order{{item.id}}.innerHTML = prettify({{item.summa}}) + ' сум';
                        }catch {
                            alert('error');
                        }
        </script>
            </tr>
            {% endfor %}
    </tr>
    <tr>
        <td></td>
        <td><a data-tab="link3" class="table__link" href="/account/order-podcategory/3/{{date}}">Поездки на такси/личное авто <i class="fa fa-chevron-right"></i></a></td>
        <td id="travel_orders_summa">{{travel_orders_summa}} сум</td>
        <script>
            let travel_orders_summa = document.getElementById("travel_orders_summa");
            try {
                travel_orders_summa.innerHTML = prettify({{travel_orders_summa}}) + ' сум';
            }catch {
                alert('error');
            }
        </script>
            {% for item in travel_orders %}
            <tr style="padding: 0;" class="table__tr link3" >
                <td style="padding: 0;"><div style="background-color: {{item.color.color}};">{{item.date}}</div></td>
                <td style="padding: 0;"><div style="background-color: {{item.color.color}};">{{item.description}}</div></td>
                <td style="padding: 0;"><div style="background-color: {{item.color.color}};" id="travel_summa{{item.id}}">{{item.summa}} сум</div></td>
        <script>
                                    let order_summa{{item.id}} = document.getElementById("travel_summa{{item.id}}");

                        try {
                            travel_summa{{item.id}}.innerHTML = prettify({{item.summa}}) + ' сум';
                        }catch {
                            alert('error');
                        }
        </script>
            </tr>
            {% endfor %}
    </tr>
    <tr>
        <td></td>
        <td><a data-tab="link4" class="table__link" href="/account/order-podcategory/4/{{date}}">Проездные карточки <i class="fa fa-chevron-right"></i></a></td>
        <td id="proezd_orders_summa">{{proezd_orders_summa}} сум</td>
        <script>
            let proezd_orders_summa = document.getElementById("proezd_orders_summa");
            try {
                proezd_orders_summa.innerHTML = prettify({{proezd_orders_summa}}) + ' сум';
            }catch {
                alert('error');
            }
        </script>
            {% for item in proezd_orders %}
            <tr style="padding: 0;" class="table__tr link4" >
                <td style="padding: 0;"><div style="background-color: {{item.color.color}};">{{item.date}}</div></td>
                <td style="padding: 0;"><div style="background-color: {{item.color.color}};">{{item.description}}</div></td>
                <td style="padding: 0;"><div style="background-color: {{item.color.color}};" id="proezd_order{{item.id}}">{{item.summa}} сум</div></td>
                <script>
                                    let proezd_order{{item.id}} = document.getElementById("proezd_order{{item.id}}");

                        try {
                            proezd_order{{item.id}}.innerHTML = prettify({{item.summa}}) + ' сум';
                        }catch {
                            alert('error');
                        }
        </script>
            </tr>
            {% endfor %}
    </tr>
    <tr>
        <td></td>
        <td><a data-tab="link5" class="table__link" href="/account/order-podcategory/5/{{date}}">Мобильная связь <i class="fa fa-chevron-right"></i></a></td>
        <td id="mob_orders_summa">{{mob_orders_summa}} сум</td>
        <script>
            let mob_orders_summa = document.getElementById("mob_orders_summa");
            try {
                mob_orders_summa.innerHTML = prettify({{mob_orders_summa}}) + ' сум';
            }catch {
                alert('error');
            }
        </script>
            {% for item in mob_orders %}
            <tr style="padding: 0;" class="table__tr link5" >
                <td style="padding: 0;"><div style="background-color: {{item.color.color}};">{{item.date}}</div></td>
                <td style="padding: 0;"><div style="background-color: {{item.color.color}};">{{item.description}}</div></td>
                <td style="padding: 0;"><div style="background-color: {{item.color.color}};" id="mob_order{{item.id}}">{{item.summa}} сум</div></td>
                        <script>
                                    let mob_order{{item.id}} = document.getElementById("mob_order{{item.id}}");

                        try {
                            mob_order{{item.id}}.innerHTML = prettify({{item.summa}}) + ' сум';
                        }catch {
                            alert('error');
                        }
        </script>
            </tr>
            {% endfor %}
    </tr>
    <tr>
        <td></td>
        <td><a data-tab="link6" class="table__link" href="/account/order-podcategory/6/{{date}}">Расход по курьеру/топливо <i class="fa fa-chevron-right"></i></a></td>
        <td id="cur_orders_summa">{{cur_orders_summa}} сум</td>
        <script>
            let cur_orders_summa = document.getElementById("cur_orders_summa");
            try {
                cur_orders_summa.innerHTML = prettify({{cur_orders_summa}}) + ' сум';
            }catch {
                alert('error');
            }
        </script>
            {% for item in cur_orders %}
            <tr style="padding: 0;" class="table__tr link6" >
                <td style="padding: 0;"><div style="background-color: {{item.color.color}};">{{item.date}}</div></td>
                <td style="padding: 0;"><div style="background-color: {{item.color.color}};">{{item.description}}</div></td>
                <td style="padding: 0;"><div style="background-color: {{item.color.color}};" id="cur_order{{item.id}}">{{item.summa}} сум</div></td>
            </tr>
            <script>
             let cur_order{{item.id}} = document.getElementById("cur_order{{item.id}}");
               try {
                    cur_order{{item.id}}.innerHTML = prettify({{item.summa}}) + ' сум';
                    }catch {
                       alert('error');
                    }
            </script>
            {% endfor %}
    </tr>
    <tr>
        <td></td>
        <td><a data-tab="link7" class="table__link" href="/account/order-podcategory/7/{{date}}">Печати для клиентов <i class="fa fa-chevron-right"></i></a></td>
        <td id="pech_orders_summa">{{pech_orders_summa}} сум</td>
        <script>
            let pech_orders_summa = document.getElementById("pech_orders_summa");
            try {
                pech_orders_summa.innerHTML = prettify({{pech_orders_summa}}) + ' сум';
            }catch {
                alert('error');
            }
        </script>
            {% for item in pech_orders %}
            <tr style="padding: 0;" class="table__tr link7" >
                <td style="padding: 0;"><div style="background-color: {{item.color.color}};">{{item.date}}</div></td>
                <td style="padding: 0;"><div style="background-color: {{item.color.color}};">{{item.description}}</div></td>
                <td style="padding: 0;"><div style="background-color: {{item.color.color}};" id="pech_order{{item.id}}">{{item.summa}} сум</div></td>
                    <script>
             let pech_order{{item.id}} = document.getElementById("pech_order{{item.id}}");
               try {
                    pech_order{{item.id}}.innerHTML = prettify({{item.summa}}) + ' сум';
                    }catch {
                       alert('error');
                    }
            </script>
            </tr>
            {% endfor %}
    </tr>
    <tr>
        <td></td>
        <td><a data-tab="link8" class="table__link" href="/account/order-podcategory/8/{{date}}">Эцп ключи для клиентов <i class="fa fa-chevron-right"></i></a></td>
        <td id="ecp_orders_summa">{{ecp_orders_summa}} сум</td>
        <script>
            let ecp_orders_summa = document.getElementById("ecp_orders_summa");
            try {
                ecp_orders_summa.innerHTML = prettify({{ecp_orders_summa}}) + ' сум';
            }catch {
                alert('error');
            }
        </script>
            {% for item in ecp_orders %}
            
            <tr style="padding: 0;" class="table__tr link8" >
                <td style="padding: 0;"><div style="background-color: {{item.color.color}};">{{item.date}}</div></td>
                <td style="padding: 0;"><div style="background-color: {{item.color.color}};">{{item.description}}</div></td>
                <td style="padding: 0;"><div style="background-color: {{item.color.color}};" id="ecp_order{{item.id}}">{{item.summa}} сум</div></td>
        <script>
             let ecp_order{{item.id}} = document.getElementById("ecp_order{{item.id}}");
               try {
                    ecp_order{{item.id}}.innerHTML = prettify({{item.summa}}) + ' сум';
                    }catch {
                       alert('error');
                    }
        </script>
            </tr>
            
            {% endfor %}
    </tr>
    <tr>
        <td></td>
        <td><a data-tab="link9" class="table__link" href="/account/order-podcategory/9/{{date}}">Коммунальные услуги офиса <i class="fa fa-chevron-right"></i></a></td>
        <td id="com_orders_summa">{{com_orders_summa}} сум</td>
        <script>
            let com_orders_summa = document.getElementById("com_orders_summa");
            try {
                com_orders_summa.innerHTML = prettify({{com_orders_summa}}) + ' сум';
            }catch {
                alert('error');
            }
        </script>
            {% for item in com_orders %}
            <tr style="padding: 0;" class="table__tr link9" >
                <td style="padding: 0;"><div style="background-color: {{item.color.color}};">{{item.date}}</div></td>
                <td style="padding: 0;"><div style="background-color: {{item.color.color}};">{{item.description}}</div></td>
                <td style="padding: 0;"><div style="background-color: {{item.color.color}};" id="com_order{{item.id}}">{{item.summa}} сум</div></td>
        <script>
             let com_order{{item.id}} = document.getElementById("com_order{{item.id}}");
               try {
                    com_order{{item.id}}.innerHTML = prettify({{item.summa}}) + ' сум';
                    }catch {
                       alert('error');
                    }
        </script>
            </tr>
            {% endfor %}
    </tr>
    </tr>
    <tr>
        <td></td>
        <td><a data-tab="link10" class="table__link" href="/account/order-podcategory/10/{{date}}">Почтовые расходы <i class="fa fa-chevron-right"></i></a></td>
        <td id="other_orders_summa">{{other_orders_summa}} сум</td>
        <script>
            let other_orders_summa = document.getElementById("other_orders_summa");
            try {
                other_orders_summa.innerHTML = prettify({{other_orders_summa}}) + ' сум';
            }catch {
                alert('error');
            }
        </script>
            {% for item in other_orders %}
            <tr style="padding: 0; background-color: {{item.color.color}};" class="table__tr link10" >
                <td style="padding: 0;"><div style="background-color: {{item.color.color}};">{{item.date}}</div></td>
                <td style="padding: 0;"><div style="background-color: {{item.color.color}};">{{item.description}}</div></td>
                <td style="padding: 0;"><div style="" id="other_order{{item.id}}">{{item.summa}} сум</div></td>
                <script>
               let other_order{{item.id}} = document.getElementById("other_order{{item.id}}");
               try {
                    other_order{{item.id}}.innerHTML = prettify({{item.summa}}) + ' сум';
                    }catch {
                       alert('error');
                    }
        </script>
            </tr>
            {% endfor %}
    </tr>
    </tr>
    <tr>
        <td></td>
        <td><a data-tab="link11" class="table__link" href="/account/order-podcategory/11/{{date}}">Разовые расходы из корп средств <i class="fa fa-chevron-right"></i></a></td>
        <td id="raz_orders_summa">{{raz_orders_summa}} сум</td>
        <script>
            let raz_orders_summa = document.getElementById("raz_orders_summa");
            try {
                raz_orders_summa.innerHTML = prettify({{raz_orders_summa}}) + ' сум';
            }catch {
                alert('error');
            }
        </script>
            {% for item in raz_orders %}
            <tr style="padding: 0; background-color: {{item.color.color}};" class="table__tr link11" >
                <td style="padding: 0;"><div style="background-color: {{item.color.color}};">{{item.date}}</div></td>
                <td style="padding: 0;"><div style="background-color: {{item.color.color}};">{{item.description}}</div></td>
                <td style="padding: 0;"><div style="" id="raz_order{{item.id}}">{{item.summa}} сум</div></td>
                        <script>
               let raz_order{{item.id}} = document.getElementById("raz_order{{item.id}}");
               try {
                    raz_order{{item.id}}.innerHTML = prettify({{item.summa}}) + ' сум';
                    }catch {
                       alert('error');
                    }
        </script>
            </tr>
            {% endfor %}
    </tr>
    <tr>
        <th>Итого расход</th>
        <td id="total">{{total_c}} сум</td>
                                <script>
               let total = document.getElementById("total");
               try {
                    total.innerHTML = prettify({{total_c}}) + ' сум';
                    }catch {
                       alert('error');
                    }
        </script>
        <td></td>
    </tr>
    </tbody>
</table>

<style>
    .table__tr div{
        display: none;
        padding: 10px 15px;
    }
    
    .table__link{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .table__link .fa{
        font-size: 12px;
        transition: 0.3s ease;
    }
    .link-active .fa{
        transform: rotate(90deg);
    }
    
    
</style>

<script>
    $('.table__link').click(function(e){
        e.preventDefault();
        $(this).toggleClass('link-active');
        let tab = $(this).attr('data-tab');
        $(`.${tab} div`).slideToggle(500);
    });
</script>
