{% load service_html %}
<div class="main-container">
    <aside>
        <div class="aside-title">Категории <i class="fa fa-chevron-right" aria-hidden="true"></i></div>
        <div class="table-body">
            <ul class="nav nav-tabs">
              
            <li class="nav-item">
                <a class="nav-link nav-link_active" href="#" onclick="show_table()">Главная</a>
            </li>
                {% for item in categories %}
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="main_table({{item.id}}, '{{item.name}}')">{{item.name}}</a>
            </li>
                {% endfor %}
            </ul>
        </div>
    </aside>
    
    <div id="main_table">
        <table class="table1">
            <thead>
            <tr>
                <th>---</th>
                {% for item in categories %}
                <th>{{item.name}}</th>
                {% endfor %}
                <th>Всего</th>
            </tr>
            </thead>
            <tbody>
            <tr id="budjet">
                <th>Бюджет: </th>
                {% for budjet in budjets%}
                <td style=""> <p style="display" id="budjet{{budjet.id}}">{{budjet.summa}} сум</p> <button data-toggle="modal" data-target="#modalEdit{{budjet.id}}" style="border: none; padding: 5px;" class="btn__edit"><span class="fa fa-pencil-square-o"></span></button></td>
                <form action="/account/edit-budget/{{budjet.id}}">
                <div class="modal fade" id="modalEdit{{budjet.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Изменить бюджет на {{budjet.category.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <input type="text" class="form-control" value="{{budjet.summa}}" name="summa">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn-a" data-dismiss="modal" style="margin-bottom: 50px;">Закрыть</button>
                        <button type="submit" class="btn-a" style="margin-bottom: 50px;">Сохранить</button>
                      </div>
                    </div>
                  </div>
                </div>
                </form>
                <script>
                        let budjet{{budjet.id}} = document.getElementById("budjet{{budjet.id}}");
                        try {
                            budjet{{budjet.id}}.innerHTML = prettify({{budjet.summa}}) + ' сум';
                        }catch {internet_orders_summa
                            alert('error');
                        }
                    </script>
                {% endfor %}
                <td>---</td>
            </tr>
            <tr>
                <th>Остаток c прошлого месяца</th>
                {% for item in remainders %}
                    <td id="ost_summa{{item.id}}">{{item.summa}} сум</td>
                    <script>
                        let summa{{item.id}} = document.getElementById("ost_summa{{item.id}}");
                        try {
                            summa{{item.id}}.innerHTML = prettify({{item.summa}}) + ' сум';
                        }catch {
                            alert('error');
                        }
                    </script>
                {% endfor %}
                <td id="">---</td>
            </tr>
            <tr id="tr_come">
                {% get_year_month month as item2 %}
                <th style="width: 130px;">Приход в течении {% get_month_day month as item %} {{item}}</th>
                <td id="corp_come_summa" style="width: 140px;">{{corp_come_summa}} сум</td>
                <td id="kitchen_come_summa" style="width: 150px;">{{kitchen_come_summa}} сум</td>
                <td id="hoz_come_summa" style="width: 140px;">{{hoz_come_summa}} сум</td>
                <td id="other_come_summa" style="width: 140px;">{{other_come_summa}} сум</td>
                <td id="karantin_come_summa" style="width: 140px;">{{karantin_come_summa}} сум</td>
                <td id="total_summa" style="width: 140px;">{{total_summa}} сум</td>
                <script>
                        let corp_come_summa = document.getElementById("corp_come_summa");
                        let kitchen_come_summa = document.getElementById("kitchen_come_summa");
                        let hoz_come_summa = document.getElementById("hoz_come_summa");
                        let other_come_summa = document.getElementById("other_come_summa");
                        let karantin_come_summa = document.getElementById("karantin_come_summa");
                        let total_summa = document.getElementById("total_summa");
                        try {
                            total_summa.innerHTML = prettify({{total_summa}}) + ' сум';
                            corp_come_summa.innerHTML = "<a href='/account/coming/1/{{item2.year}}/{{item2.month}}' style='color: black; text-decoration: none;'>"+prettify({{corp_come_summa}}) + ' сум <i class="fa fa-eye" aria-hidden="true"></i>'+"</a>";
                            kitchen_come_summa.innerHTML = "<a href='/account/coming/2/{{item2.year}}/{{item2.month}}' style='color: black; text-decoration: none;'>"+prettify({{kitchen_come_summa}}) + ' сум <i class="fa fa-eye" aria-hidden="true"></i>'+"</a>";
                            hoz_come_summa.innerHTML = "<a href='/account/coming/3/{{item2.year}}/{{item2.month}}' style='color: black; text-decoration: none;'>"+prettify({{hoz_come_summa}}) + ' сум <i class="fa fa-eye" aria-hidden="true"></i>'+"</a>";
                            other_come_summa.innerHTML = "<a href='/account/coming/4/{{item2.year}}/{{item2.month}}' style='color: black; text-decoration: none;'>"+prettify({{other_come_summa}}) + ' сум <i class="fa fa-eye" aria-hidden="true"></i>'+"</a>";
                            karantin_come_summa.innerHTML = "<a href='/account/coming/5/{{item2.year}}/{{item2.month}}' style='color: black; text-decoration: none;'>"+prettify({{karantin_come_summa}}) + ' сум <i class="fa fa-eye" aria-hidden="true"></i>'+"</a>";
                        }catch {
                            alert('error');
                        }
                </script>
            </tr>
            <tr>
                <th>Расход в течении {{item}}</th>
                <td id="corp_summa_order_total">{{corp_summa_order_total}} сум</td>
                <td id="kitchen_summa_order_total">{{kitchen_summa_order_total}} сум</td>
                <td id="hoz_summa_order_total">{{hoz_summa_order_total}} сум</td>
                <td id="other_summa_order_total">{{other_summa_order_total}} сум</td>
                <td id="karantin_summa_order_total">{{karantin_summa_order_total}} сум</td>
                <td id="total_order_summa">{{total_order_summa}} сум</td>
                                <script>
                        let corp_summa_order_total = document.getElementById("corp_summa_order_total");
                        let kitchen_summa_order_total = document.getElementById("kitchen_summa_order_total");
                        let hoz_summa_order_total = document.getElementById("hoz_summa_order_total");
                        let other_summa_order_total = document.getElementById("other_summa_order_total");
                        let karantin_summa_order_total = document.getElementById("karantin_summa_order_total");
                        let total_order_summa = document.getElementById("total_order_summa");
                        try {
                            corp_summa_order_total.innerHTML = prettify({{corp_summa_order_total}}) + ' сум';
                            kitchen_summa_order_total.innerHTML = prettify({{kitchen_summa_order_total}}) + ' сум';
                            hoz_summa_order_total.innerHTML = prettify({{hoz_summa_order_total}}) + ' сум';
                            other_summa_order_total.innerHTML = prettify({{other_summa_order_total}}) + ' сум';
                            karantin_summa_order_total.innerHTML = prettify({{karantin_summa_order_total}}) + ' сум';
                            total_order_summa.innerHTML = prettify({{total_order_summa}}) + ' сум';
                        }catch {
                            alert('error');
                        }
                </script>
            </tr>
<!--            <tr>-->
<!--                <th>Возвраты остатков {{item}}</th>-->
<!--                <td>-&#45;&#45;</td>-->
<!--                <td>-&#45;&#45;</td>-->
<!--                <td>-&#45;&#45;</td>-->
<!--                <td>-&#45;&#45;</td>-->
<!--                <td>-&#45;&#45;</td>-->
<!--                <td>-&#45;&#45;</td>-->
<!--            </tr>-->
            <tr>
                <th>Остаток на {{item}}</th>
                <td id="corp_ost">{{corp_ost}} сум</td>
                <td id="kitchen_ost">{{kitchen_ost}} сум</td>
                <td id="hoz_ost">{{hoz_ost}} сум</td>
                <td id="other_ost">{{other_ost}} сум</td>
                <td id="karantin_ost">{{karantin_ost}} сум</td>
                <td id="total_ost">{{total_ost}} сум</td>
                <script>
                        let corp_ost = document.getElementById("corp_ost");
                        let kitchen_ost = document.getElementById("kitchen_ost");
                        let hoz_ost = document.getElementById("hoz_ost");
                        let other_ost = document.getElementById("other_ost");
                        let karantin_ost = document.getElementById("karantin_ost");
                        let total_ost = document.getElementById("total_ost");
                        try {
                            corp_ost.innerHTML = prettify({{corp_ost}}) + ' сум';
                            kitchen_ost.innerHTML = prettify({{kitchen_ost}}) + ' сум';
                            hoz_ost.innerHTML = prettify({{hoz_ost}}) + ' сум';
                            other_ost.innerHTML = prettify({{other_ost}}) + ' сум';
                            karantin_ost.innerHTML = prettify({{karantin_ost}}) + ' сум';
                            total_ost.innerHTML = prettify({{total_ost}}) + ' сум';
                        }catch {
                            alert('error');
                        }
                </script>
            </tr>
            </tbody>
        </table>
        <form action="/account/close-month" method="post">
            {% csrf_token %}
            <input type="hidden" name="corp_ost" value="{{corp_ost}}">
            <input type="hidden" name="kitchen_ost" value="{{kitchen_ost}}">
            <input type="hidden" name="hoz_ost" value="{{hoz_ost}}">
            <input type="hidden" name="other_ost" value="{{other_ost}}">
            <input type="hidden" name="karantin_ost" value="{{karantin_ost}}">
            <input type="hidden" name="total_ost" value="{{total_ost}}">
            <input type="hidden" name="month" value="{{month}}">
            <button type="submit" class="btn-a">Закрыть месяц</button>
        </form>
    </div>
    <div id="table_order" style="display:none;">
    </div>
</div>
<style>
    #budjet td p {
        display:contents;
    }

    .btn__edit:focus {
        outline: none;
    }

    tr td {
        font-size: 12px !important;
    }

    #tr_come a:hover {
        font-size: 12.5px;
        transition: .5s;
    }
</style>
<script type="text/javascript">
function main_table(id, name){
	if(name == 'Корп расходы'){
		console.log(name);
	}
	month = $('#select_month').val();
	year = $('#select_year').val();
	let date_t = year+"-"+month
	$.post("/account/order-category/"+id, {date:date_t, "csrfmiddlewaretoken" : "{{csrf_token}}"})
	  .done(function(data) {
	  	$('#main_table').hide();
	    $('#table_order').html(data).show();
	});
}
function show_table(){
	$('#main_table').show();
	$('#table_order').hide();
}
</script>